@media screen and (max-width: 768px) {

    html {
        font-size: 75%;
    }

    section {
        padding: 3.5em;
    }

    .divide {
        width: 100px;
        height: 5px;
    }  

    .social {
        border-radius: 50%;
        padding: 5px 10px;
    }
    
    .social:nth-child(2) {
        padding: 5px 10px;
    }
    
    .social:nth-child(3) {
        padding: 5px 7px;
    }
    
    .dark-card {
        width: calc(100% - 18);
    }

    
}